<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments :: head">
	<meta charset="UTF-8"/>
	<title>Create Event</title>
</head>
<body class="container">
<menu th:replace="fragments :: navigation"></menu>

<form method="post" action="/events/create">
	<div class="form-group">
		<label>Event Name
			<input type="text" name="eventName" class="form-control"/>
		</label>
	</div>
	<div class="form-group">
		<input type="submit" value="Create Event" class="btn btn-success"/>
	</div>

</form>

</body>
</html>