<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<menu th:replace="fragments :: navigation"></menu>

<table class="table table-striped">
	<thead>
	<tr>
		<th>Event ID:</th>
		<td th:text="${event.id}">Default ID</td>
	</tr>
	<tr>
		<th>Event Description:</th>
		<td th:text="${event.eventDetails.description}">Event Default Description</td>
	</tr>
	<tr>
		<th>Maximum Attendance:</th>
		<td th:text="${event.eventDetails.maxNumberAttendees}">Default Attendance</td>
	</tr>
	<tr>
		<th>Event Category:</th>
		<td th:text="${event.eventCategory.name}"></td>
	</tr>
	<tr>
		<th>Event Address:</th>
		<td th:text="${event.eventDetails.eventAddress}">Default Address</td>
	</tr>
	<tr>
		<th>Contact Email:</th>
		<td th:text="${event.eventDetails.contactEmail}">Contact Default Email</td>
	</tr>
	<tr>
		<th>Should Register:</th>
		<th:block>
			<td th:if="${event.eventDetails.shouldRegister}">Yes</td>
			<td th:if="${!event.eventDetails.shouldRegister}">No</td>
		</th:block>
	</tr>
	<tr>
		<th>Tags</th>
		<td>
			<span th:each="tag : ${tags}" th:text="${tag.getDisplayName()} + ' '"></span>
		</td>
	</tr>
	</thead>
</table>
<a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
<a th:href="'/events/add-tag?eventId=' + ${event.id}">Add Tag</a>
</body>
</html>