<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments :: head">
	<meta charset="UTF-8"/>
	<title>All Events</title>
</head>
<body class="container">
<menu th:replace="fragments :: navigation"></menu>

<p th:unless="${events} and ${events.size()}">There are currently no events!</p>
<table th:if="${events} and ${events.size() > 0}" class="table table-striped">
	<thead>
	<tr>
		<th>Event ID</th>
		<th>Event Name</th>
		<th>Event Description</th>
		<th>Contact Email</th>
	</tr>
	</thead>
	<tr th:each="event : ${events}">
		<td th:text="${event.id}">Default ID</td>
		<td th:text="${event.name}">Event Default Text</td>
		<td th:text="${event.description}">Event Default Description</td>
		<td th:text="${event.contactEmail}">Contact Default Email</td>
		<td>
			<a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
		</td>
	</tr>
</table>
</body>
</html>